.product-list{
    width:100%;
    padding-top:60px;
    padding-bottom:60px;
}
.product-header{
    margin-top: 60px;
    font-size: 24px;
}
.title-product{
  font-size: 14px;
}
.title-product:hover{
    text-decoration: none !important;
}