
.cart-text{
    padding-left: 5px;
    font-size: 16px;
    padding-right: 50px;

}

.cart {
    width: 33%;
    float: right;
    padding-top: 4px;
    text-align: right;
    padding-right: 48px;
    height: 48px;
}


.cart-summary-line{
    margin-right:15px;
}