nav {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: left;
    background-color: #343a40;
}

.menu {
    padding-top: 5px;
    padding-left: 5px;
    width: 33%;
    margin-right: 0px !important;
    display: inline;
    float: left;    
}
.Header-List-Item > .show{
    display:inline;
}

.dropdown:hover .dropdown-menu{
    display:inline !important;
}

.title-navbar{ 
    width: 33%;
    float: left;
    text-align: center;
}